In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv('heart-disease.csv')

In [7]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
x = df.drop('target', axis=1)
y = df['target']

In [9]:
x.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2

In [10]:
y = df['target']
y.head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: target, dtype: int64

In [11]:
#Split the data into train and test sets
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [13]:
X_train.shape, y_train.shape

((242, 13), (242,))

In [14]:
#Making sure it's numerical data
car_sales = pd.read_csv('car-sales-extended.csv') 
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [15]:
car_sales.dtypes

Make               str
Colour             str
Odometer (KM)    int64
Doors            int64
Price            int64
dtype: object

In [16]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [17]:
car_sales = pd.read_csv('car-sales-extended.csv') 
X = car_sales[["Make", "Colour", "Odometer (KM)", "Doors"]]
categorical_features = ["Make", "Colour", "Doors"]
numeric_features = ["Odometer (KM)"]
preprocess = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features),
        ("num", "passthrough", numeric_features),
    ]
)

X_encoded = preprocess.fit_transform(X)

In [18]:
X_encoded.shape

(1000, 13)

In [19]:
pd.DataFrame(X_encoded)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [21]:
np.random.seed(42)
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor

In [23]:

X = car_sales[["Make", "Colour", "Odometer (KM)", "Doors"]]
y = car_sales["Price"]  # must come from car_sales

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)
model = RandomForestRegressor()
model.fit(X_train, y_train)
y_preds = model.predict(X_test)
y_preds

array([10927.08, 11265.72, 49340.38, 23287.85, 27914.52, 11812.27,
       11517.39, 16270.25, 12880.36,  8630.92, 28198.27, 18846.13,
       29587.69,  9903.7 , 17144.28, 15126.  , 12545.59, 12714.74,
       25865.82, 13811.66, 27914.52,  9832.59, 15824.78, 11100.69,
       20694.18, 27884.49, 11739.21, 17043.46, 28265.94, 19737.38,
       17020.57, 12812.07, 11063.18, 18454.26, 12835.86,  8872.95,
       10636.79, 30618.42, 12111.81, 10314.48, 17530.58, 25665.72,
       23977.52, 11073.09, 14229.13, 24809.61, 11602.82, 11444.94,
       23705.01, 13637.88, 11514.8 ,  9339.75, 18518.31, 10629.33,
        9477.95, 21213.86,  6808.35,  9487.87,  9486.92, 20430.87,
       10813.12, 11068.55, 31666.6 , 13490.38, 20548.27, 17844.82,
       11636.05, 25759.18, 15393.62, 11755.79, 10355.94, 18269.17,
       14987.53, 16026.68, 11117.6 , 12665.74, 16840.91, 10849.24,
       12515.94, 15240.26,  9154.16, 10412.72, 10232.76, 28036.54,
       26369.34, 17122.09,  6413.68, 10891.4 , 29371.15, 28028.06,
       14348.75, 24515.96, 10797.35, 11436.94, 10636.32, 26625.99,
        9617.92, 18306.9 , 25674.18, 18598.1 , 18726.63, 17347.36,
       12898.87, 28658.73, 17805.22, 14247.45, 12127.13,  8996.36,
       16729.16, 14860.91, 22942.01, 17236.6 ,  5459.75,  6732.  ,
       11431.02, 13299.27, 21575.96, 29764.57, 13971.72, 31815.59,
       13239.63, 12870.86, 11233.84,  8714.9 , 14585.43,  8704.84,
       10373.54, 18443.91, 18155.11, 18629.69, 10676.62, 14327.11,
       11367.91, 26390.17, 26132.9 , 29680.94, 12918.58, 29241.91,
       10507.7 , 12668.57, 11231.93, 18776.17, 13682.28, 23836.63,
       10737.91,  9242.16,  9418.24, 10301.53, 11558.46, 10240.75,
       10957.49,  7419.29, 14628.68, 12857.49,  9026.55, 17069.  ,
       11724.37,  9372.18, 22152.91, 20512.81, 15785.25, 21897.57,
       15175.7 , 16110.56, 10829.39,  6961.32, 19152.94,  9765.13,
       13320.02, 13673.5 ,  8554.88, 12319.81, 10392.93, 15624.56,
        8380.4 , 18627.39, 17322.36, 17490.46,  8527.23, 13501.62,
       10382.57,  8676.99, 14539.14, 11281.25,  9999.85, 24709.33,
       16317.8 , 19910.47, 11537.34, 18054.69, 12912.3 , 11611.29,
       21417.54, 16743.1 ,  7838.82, 11185.11, 10950.94, 29992.42,
       23379.68, 10137.6 ])

In [25]:
comparison = pd.DataFrame({
    "predicted_price": y_preds,
    "actual_price": y_test.reset_index(drop=True).to_numpy()
})

comparison.head(10)

   predicted_price  actual_price
0         10927.08         13707
1         11265.72         12650
2         49340.38         19500
3         23287.85         26880
4         27914.52         41294
5         11812.27          3751
6         11517.39         13272
7         16270.25         13213
8         12880.36          9450
9          8630.92         10582

In [26]:
comparison["error"] = comparison["predicted_price"] - comparison["actual_price"]
comparison["abs_error"] = np.abs(comparison["error"])
comparison[["predicted_price","actual_price","error","abs_error"]].head(10)

   predicted_price  actual_price     error  abs_error
0         10927.08         13707  -2779.92    2779.92
1         11265.72         12650  -1384.28    1384.28
2         49340.38         19500  29840.38   29840.38
3         23287.85         26880  -3592.15    3592.15
4         27914.52         41294 -13379.48   13379.48
5         11812.27          3751   8061.27    8061.27
6         11517.39         13272  -1754.61    1754.61
7         16270.25         13213   3057.25    3057.25
8         12880.36          9450   3430.36    3430.36
9          8630.92         10582  -1951.08    1951.08

In [28]:
from sklearn.metrics import mean_absolute_error, r2_score, root_mean_squared_error

mae = mean_absolute_error(y_test, y_preds)
rmse = root_mean_squared_error(y_test, y_preds)
r2 = r2_score(y_test, y_preds)

mae, rmse, r2

(6131.108049999999, 8030.833522074498, 0.29444524256551574)